[submodule "lib/OpenCLIPP"]
	path = lib/OpenCLIPP
	url = https://github.com/CRVI/OpenCLIPP.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/jansson"]
	path = lib/jansson
	url = https://github.com/akheron/jansson.git
[submodule "lib/tinydir"]
	path = lib/tinydir
	url = https://github.com/cxong/tinydir.git
